<form  novalidate [formGroup]= "myform" (ngSubmit)="onSubmit()">
    
        <div class="form-group" [ngClass] = "{
            'userKarmir':username.invalid && (username.dirty || username.touched),
            'userKanach':username.valid && (username.dirty || username.touched)
        }">
            <label for="username">Username</label> <br>
            <input type="text" class="form-control" id="username" formControlName="username">
        
            <div class="form-control-feedback"
                *ngIf="username.errors && (username.dirty || username.touched)">
                <p *ngIf="username.errors.required">Username is required</p>
                
            </div>
          
        </div>
    <br>
    <br>



        <div class="form-group" [ngClass]="{
          'passKarmir': password.invalid && (password.dirty || password.touched),
          'passKanach':password.valid && (password.dirty || password.touched)
        }">
            <label for = "password">Password</label> <br>
            <input type="password" class="form-control" id = "password" formControlName="password" required>
              <div class="form-control-feedback"
                  *ngIf="password.errors && (password.dirty || password.touched)">
                <p *ngIf="password.errors.required">Password is required</p>
                <p *ngIf="password.errors.minlength">Password must be minimum 6 charachter.</p>
                <p *ngIf="password.errors.maxlength">Password must be maximum 8 charachter.</p>
            </div>
        </div>

        <button type="submit" [disabled]='!myform.valid'>Submit</button>
       

</form>