<form [formGroup]= "myform">
    
        <div class = "form-group">
            <label for="username">Username</label> <br>
            <input type="text" class = "form-control" id = "username" formControlName="username" required>
        
            <!-- <pre>Dirty? {{ myform.controls.username.dirty }}</pre>
            <pre>Pristine? {{ myform.controls.username.pristine }}</pre> -->

        </div>
    <br>
    <br>
        <div class="form-group">
            <label for = "password">Password</label> <br>
            <input type="password" class="form-control" id = "password" formControlName="password">
        </div>

</form>